.buttonWrapper {}

.button {
  border: none;
  border-radius: 8px;
  background: var(--blue-500);
  color: var(--gray-100);
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.button:not(:disabled):hover {
   background: var(--blue-300);
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}