.toDoForm {
  margin-top: -2rem;
}

.toDoForm form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media(max-width: 750px) {
  .toDoForm {
    padding: 0 20px;
  }
}